html {
    font-family: 'Courier New', Courier, monospace;
    background-color:white;
}

header {
    margin: 0;
    box-sizing: border-box; /* Optional: Includes padding and border in element's total width and height */
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("media/header.jpeg");
    background-blend-mode: multiply;
    padding:30px;
    font-size: 25px;
}

.main-nav {
    background-color:darkseagreen;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}

Body {
    text-align: center;
    p {
        font-family: 'Times New Roman', Times, serif;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#intro, #items, #cameras, #music, #research, #painting {
    p {
        font-family: 'Times New Roman', Times, serif;
    }
}

#footer {
    a {
        text-decoration: none; /* Remove underline from links */
        font-size: 25px;
        padding-bottom: 40px;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery {
    display: inline-block;
    margin: 5px;
}

.interests, .wip {
    h2 {
        color:hotpink
    }
}

